DATABASE_HOST=mariadb
DATABASE_PORT=3306
DATABASE_USER=root
DATABASE_PASSWORD=adminpass_secret
DATABASE_NAME=db_name

MEMCACHED_HOST=memcached
MEMCACHED_PORT=11211

ROOT_USERNAME=root
ROOT_EMAIL=admin@sistema.com
ROOT_PASSWORD=admin123