

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Combate aos Maus-Tratos aos Animais</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>


    <section class="banner">
        <img src="./anta taila.png" alt="Combate aos Maus-Tratos aos Animais">
    </section>

    <section class="conscientizacao">

        <h1>Combate aos Maus-Tratos aos Animais</h1>

        <p>
            Os animais merecem respeito, cuidado e proteção. Eles não podem se comunicar mas com a sua ajuda, podemos mudar isso.
        </p>

    </section>

    <footer>
        <p>© 2026 - Proteja • Respeite • Ame</p>
    </footer>

</body>
</html>